In [1]:
import pandas as pd

In [2]:
username_to_name = {'bianca_medeiros': 'Bianca Medeiros', 'klayton_barbosa': 'Klayton Barbosa', 'isabel_veloso': 'Isabel Veloso', 'joao_carabetta': 'João Carabetta', 'paula_reis': 'Paula Reis', 'ana_cristina_couto': 'Ana Cristina Couto', 'felipe_araujo': 'Felipe Araújo', 'vinicius_reis': 'Vinicius Reis', 'rodrigo_vianna': 'Rodrigo Vianna', 'leonardo_wortmann': 'Leonardo Wortmann', 'felippe_miranda': 'Felippe Miranda', 'rogerio_sganzerla': 'Rogerio Sganzerla', 'luis_eduardo_craizer': 'Luis Eduardo Craizer', 'daniel_arruda': 'Daniel Arruda', 'william_lima': 'William Lima', 'ana_cardoso': 'Ana Cardoso', 'luiza_tavares': 'Luiza Tavares', 'alifer_sales': 'Alifer Sales', 'fernando_correia': 'Fernando Correia', 'gabriela_porto': 'Gabriela Porto'}

In [3]:
df = pd.read_csv("rankings_parciais/ranking_bolao_8as.csv")
df['Participante'] = df['Username'].apply(lambda x: username_to_name[x])
df = df[['Participante', 'Pontuação parcial']]
df.sort_values('Pontuação parcial', inplace=True, ascending=False)
df = df.reset_index(drop=True)
df.index += 1 
df.head()

           Participante  Pontuação parcial
1       Klayton Barbosa               21.0
2          William Lima               21.0
3         Felipe Araújo               21.0
4         Daniel Arruda               21.0
5  Luis Eduardo Craizer               21.0

In [4]:
df

            Participante  Pontuação parcial
1        Klayton Barbosa               21.0
2           William Lima               21.0
3          Felipe Araújo               21.0
4          Daniel Arruda               21.0
5   Luis Eduardo Craizer               21.0
6        Felippe Miranda               18.0
7       Fernando Correia               18.0
8          Luiza Tavares               18.0
9            Ana Cardoso               18.0
10        Gabriela Porto               18.0
11     Leonardo Wortmann               18.0
12        Rodrigo Vianna               18.0
13         Vinicius Reis               18.0
14    Ana Cristina Couto               18.0
15            Paula Reis               18.0
16        João Carabetta               18.0
17         Isabel Veloso               18.0
18          Alifer Sales               15.0
19     Rogerio Sganzerla               12.0
20       Bianca Medeiros               12.0