In [1]:
import pandas as pd

In [16]:
username_to_name = {'bianca_medeiros': 'Bianca Medeiros', 'klayton_barbosa': 'Klayton Barbosa', 'isabel_veloso': 'Isabel Veloso', 'joao_carabetta': 'João Carabetta', 'paula_reis': 'Paula Reis', 'ana_cristina_couto': 'Ana Cristina Couto', 'felipe_araujo': 'Felipe Araújo', 'vinicius_reis': 'Vinicius Reis', 'rodrigo_vianna': 'Rodrigo Vianna', 'leonardo_wortmann': 'Leonardo Wortmann', 'felippe_miranda': 'Felippe Miranda', 'rogerio_sganzerla': 'Rogerio Sganzerla', 'luis_eduardo_craizer': 'Luis Eduardo Craizer', 'daniel_arruda': 'Daniel Arruda', 'william_lima': 'William Lima', 'ana_cardoso': 'Ana Cardoso', 'luiza_tavares': 'Luiza Tavares', 'alifer_sales': 'Alifer Sales', 'fernando_correia': 'Fernando Correia', 'gabriela_porto': 'Gabriela Porto'}

In [26]:
df = pd.read_csv("rankings_parciais/ranking_bolao_8as.csv")
df['Participante'] = df['Username'].apply(lambda x: username_to_name[x])
df = df[['Participante', 'Pontuação parcial']]
df.sort_values('Pontuação parcial', inplace=True, ascending=False)
df = df.reset_index(drop=True)
df.index += 1 
df.head()

           Participante  Pontuação parcial
1       Klayton Barbosa               21.0
2          William Lima               21.0
3         Felipe Araújo               21.0
4         Daniel Arruda               21.0
5  Luis Eduardo Craizer               21.0